.main-nav-bar {
  height: 100px;
  /* position: sticky; */
  top: 0px;
  /* z-index: 1; */
  background-color: lightgray;
  display: flex;
  align-items: center;
}
.navbar__left {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.navbar__left > img {
  margin-right: 0px;
  width: 60px;
  border-radius: 0%;
  padding-top: 0%;
}

.navbar__center {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.triangle {
  display: flex;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-bottom: 60px solid royalblue;
}
.initiation {
  top: 0px;
  display: flex;
  flex: 1;
  align-items: center;
}

.first_people {
  display: flex;
  flex: 0.3;
}
.first_About-us {
  display: flex;
  flex: 0.3;
}
.navbar__right > button {
  cursor: pointer;
  background-color: navy;
  color: lightgray;
  font-size: 18px;
  border-radius: 15px;
}

.main-nav {
  text-decoration: none;
  text-align: center;
  /* padding-top: 1px; */
  align-items: center;
}

.jeremy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

body {
  background-color: lightgray;
}
.Login-Icon {
  /* align-items: right; */
  position: fixed;
  top: 10px;
  float: right;
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightgray;
  margin: 8px 0;
}

.Login-Portal {
  float: right;
  background-color: rgba(15, 31, 241, 0.884);
  color: lightgray;
  font-size: 18px;
  border-radius: 15px;
}

.jeremy-lishner {
  display: flex;
  justify-content: center;
}

.jeremy-caption {
  display: flex;
  justify-content: center;
}

.eckhart__tolle {
  justify-content: center;
}

.main__body {
  display: flex;
}
.left__bar {
  display: flex;
  width: 18.333%;
}
.right__bar {
  display: flex;
  width: 18.333%;
}
.row {
  display: flex;
}

.center__bar {
  display: flex;
  width: 63.333%;
}

.left__line {
  display: flex;
  justify-content: flex-end;
}

.head__brain {
  display: flex;
  justify-content: flex-end;
}

.galaxy__line {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex: 1;
}

.universe__line {
  justify-content: center;
  display: flex;
  flex: 1;
}

/* .hexagon {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 60px;
  width: 60px;
  background: transparent;
  position: relative;
  padding-top: ;
} */

/* .hexagon::before {
  flex: 1;
  display: flex;
  justify-content: center;
  flex: 1;
  content: "";
  position: absolute;
  top: -28.8675px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid royalblue;
} */

/* .hexagon::after {
  flex: 1;
  display: flex;
  justify-content: center;
  content: "";
  position: absolute;
  bottom: -28.8675px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid royalblue;
} */

/* .rectangle-bro {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 60px;
  background-color: royalblue;
} */
.learning {
  color: yellow;
  display: flex;
  justify-content: center;
}
/* .gnosticism {
  display: flex;
  justify-content: center;
} */

.law__of__correspondences {
  display: inline-block;
  margin-right: 20px;
  flex: 1;
  justify-content: flex-end;
  border-radius: 7px;
  background-color: navy;
  color: antiquewhite;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 20px; */
}

.law__of__correspondences span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.law__of__correspondences span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.law__of__correspondences:hover span {
  padding-right: 25px;
}

.law__of__correspondences:hover span:after {
  opacity: 1;
  right: 0;
}

.divide__et {
  /* display: flex;
  justify-content: center;
  flex: 1; */
}

.for_triangle {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* .dot {
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  flex: 1;
  justify-content: center;
} */
